body {
    margin: 0;
    font-family: sans-serif;
  }
  
  .bg-image {
    width: 100%;
    height: 100vh;
    background: url("https://media.istockphoto.com/photos/multiethnic-mid-adult-couple-using-digital-tablet-at-home-picture-id1319763362?b=1&k=20&m=1319763362&s=170667a&w=0&h=DpVAD8sSSnMa-H8CASPqpqvqRMQH7zjmjNE5TaCzMBE=");
    background-position: center;
    background-attachment: fixed;
    background-size:cover;
  }
  
  .container {
    padding:6rem;
  }
  
  h1 {
    font-size:3rem;
  }
  p {
    color:darkolivegreen;
  }
  
  @media (max-width:31rem) {
    .container {
      padding:1rem;
    }
  }